<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">
    <display-name> CotThi19 </display-name>

    <welcome-file-list>
        <welcome-file>bienvenue.jsp</welcome-file>
    </welcome-file-list>

    <session-config>
        <session-timeout>10</session-timeout>
    </session-config>

    <servlet>
        <servlet-name>ServletAccueil</servlet-name>
        <servlet-class>servlet.ServletAccueil</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletAccueil</servlet-name>
        <url-pattern>/accueil</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ServletTestBDD</servlet-name>
        <servlet-class>servlet.ServletTestBDD</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletTestBDD</servlet-name>
        <url-pattern>/testbdd</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ServletInscription</servlet-name>
        <servlet-class>servlet.ServletInscription</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletInscription</servlet-name>
        <url-pattern>/inscription</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ServletInscriptionVerification</servlet-name>
        <servlet-class>servlet.ServletInscriptionVerification</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletInscriptionVerification</servlet-name>
        <url-pattern>/inscriptionVerification</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ServletConnexion</servlet-name>
        <servlet-class>servlet.ServletConnexion</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletConnexion</servlet-name>
        <url-pattern>/connexion</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ServletConnexionVerification</servlet-name>
        <servlet-class>servlet.ServletConnexionVerification</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletConnexionVerification</servlet-name>
        <url-pattern>/connexionVerification</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ServletMonCompte</servlet-name>
        <servlet-class>servlet.ServletMonCompte</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletMonCompte</servlet-name>
        <url-pattern>/monCompte</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ServletModification</servlet-name>
        <servlet-class>servlet.ServletModification</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletModification</servlet-name>
        <url-pattern>/modification</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ServletModificationVerification</servlet-name>
        <servlet-class>servlet.ServletModificationVerification</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletModificationVerification</servlet-name>
        <url-pattern>/modificationVerification</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ServletDeconnexion</servlet-name>
        <servlet-class>servlet.ServletDeconnexion</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletDeconnexion</servlet-name>
        <url-pattern>/deconnexion</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ServletActivity</servlet-name>
        <servlet-class>servlet.creationActivite.ServletCreateActivity</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletActivity</servlet-name>
        <url-pattern>/CreateActivity</url-pattern>
        <url-pattern>/createActivity</url-pattern>
        <url-pattern>/createactivity</url-pattern>
        <url-pattern>/Createactivity</url-pattern>
        <url-pattern>/CreateActivity/</url-pattern>
        <url-pattern>/createActivity/</url-pattern>
        <url-pattern>/createactivity/</url-pattern>
        <url-pattern>/Createactivity/</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ServletLieux</servlet-name>
        <servlet-class>servlet.creationActivite.ServletRechercheLieux</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletLieux</servlet-name>
        <url-pattern>/findPlace</url-pattern>
        <url-pattern>/FindPlace</url-pattern>
        <url-pattern>/Findplace</url-pattern>
        <url-pattern>/findplace</url-pattern>
        <url-pattern>/findPlace/</url-pattern>
        <url-pattern>/FindPlace/</url-pattern>
        <url-pattern>/Findplace/</url-pattern>
        <url-pattern>/findplace/</url-pattern>
    </servlet-mapping>

    <error-page>
        <error-code>404</error-code>
        <location>/404notfound.html</location>
    </error-page>
</web-app>